
.color-1 {
    color: #f47f1f;
}
.color-2 {
    color: #d31a20;
}
.color-3 {
    color: #582c8b;
}

.color-4 {
    color: #0064b1;
}

.color-5 {
    color: #01a45f;
}
.color-6 {
    color: white;
}

.backdround-color-1 {
    background-color: #f47f1f;
}
.backdround-color-2 {
    background-color: #d31a20;
}
.backdround-color-3 {
    background-color: #582c8b;
}
.backdround-color-4 {
    background-color: #0064b1;
}
.backdround-color-5 {
    background-color: #01a45f;
}


