* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(./colors.css);
 body {
    background: rgb(221,177,201);
    background: linear-gradient(93deg, rgba(221,177,201,1) 0%, rgba(251,241,217,1) 100%);
}


.card-container {
    width: 50%;
    margin: 50px auto;
}

.card-container h1 {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin: 20px 0px;
}

.card-container ul li {
    list-style: none;
}

.card-container .container {
    width: 100%;
    padding: 16px 0px;
    background-color: white;
    display: flex;
    margin-bottom: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.05);

} 

.card-container .container .content-decoration  { 
    width: 25%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1),
    inset 0 4px 8px rgba(0, 0, 0, 0.05);



}

.left {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;

} 

.right {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}



img {
    width: 24px;
    height: 24px;
}
.card-container .container .content-decoration .content {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    

}

.card-container .container .description  {
    margin: 0px 35px;
}

.card-container .container .content-decoration .content p {
    font-size: 32px;
    margin-left: 10px;

}

.card-container .container .content-decoration .circle {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15),
              0 8px 16px rgba(0, 0, 0, 0.1);
}


.card-container .container .content-decoration .circle span {
    font-size: 32px;
}

